doctype html
html
  head
    meta(charset='UTF-8')
    title Vendor Dashboard
    link(rel='stylesheet' href='/CSS/form.css')
  body
    .dashboard
      // Left side: Stats cards
      .stats
        .stat-card.combined
          .stat-item
            h2 UGX 50,000,000
            p Sales
          .divider
          .stat-item
            h2 UGX 15,000,000
            p Orders
        .stat-pair
          .stat-card.green
            h2 UGX 42,000,000
            p In stock
          .stat-card.red
            h2 5
            p Out of stock

      // Right side: Form
      .form-card
        h3 Add Product
        form#productForm
          input(type='text' name='name' placeholder='Product Name' required)
          input(type='text' name='category' placeholder='Category' required)
          input(type='number' name='price' placeholder='Price' required)
          input(type='number' name='quantity' placeholder='Quantity' required)
          .row
            input(type='text' name='color' placeholder='Color')
            input(type='file' name='image')
          .form-actions
            button.save(type='submit') SAVE
            button.clear(type='reset') CLEAR

      // Bottom: Table
      .table-box
        table
          thead
            tr
              th ID
              th NAME
              th CATEGORY
              th PRICE (UGX)
              th QUANTITY
          tbody#productTable
            each product in products
              tr
                td= product._id
                td= product.name
                td= product.category
                td= product.price.toLocaleString()
                td= product.quantity

    script(src='/js/form.js')
